@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

/* RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:1.5rem 'Nunito Sans', sans-serif;
    min-height: 100vh;  
    background: radial-gradient(whitesmoke, #475569);
    background-color: #475569;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

main{
    flex-grow: 1;
}

header, footer{
    color: whitesmoke;
    background-color: #475569;
    position:sticky;
}

header{
    font-size: 2rem;
    top:0;
}

nav{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    padding: 0.6rem;
}

a{
    display: block;
    text-decoration: none;
    color: #475569;
}

a:active, a:focus{
    color: hsla(215, 19%, 35%, 0.195);
}

.card{
    background-color: grey;
    border: 2px solid black;
    border-radius: 15px;
    margin: 1.5rem;
}

figure {
    padding: 1rem;
}

figure img{
    border-radius: 50% ;
    border: 2px solid black;
}


figcaption{
    font-weight: 600;
    font-size:2.4rem ;
    padding: 0.7rem;
}

p{
    font-size: 1.5rem;
}


footer{
    bottom:0;
    font-size: 1.4rem;
}